@font-face {
font-family: 'ProductSansRegular';
src: url('./ProductSansRegular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
url('./ProductSansRegular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

html, body, div{
font-family: 'ProductSansRegular' !important;
}