<!DOCTYPE html>
<html>
<head>
	<title>Pooblish</title>
	<style>
		html{
			font-family: 'Product Sans';
		}
	</style>
</head>
<body>
	<h2>Managing Posts for <a href="http://127.0.0.1:4000/">Blog</a></h2>
	<ul>
		<hr>
		<li>Checkout or Edit:</li>
		<ul>
			<li><a href="/show/drafts">Drafts</a></li>
			<li><a href="/show/blog">Blog posts</a></li>
			<li><a href="/show/journal">Journal posts</a></li>
		</ul>
		<hr>
		<li><a href="/create">Create New Post</a></li>
	</ul>
</body>
<hr>
<footer>
	Designed by: Solanki
</footer>
</html>