<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
</head>
	<style>
		html{
			font-family: 'Product Sans' !important;
		}
	</style>
<body>

<h3>Create Post</h3>
	<form action="/create" method="post" id="form1">
		<ul>
		
		<li>
			<label for="date">Date: </label>
			<input size="50" type="date" name="date" id="date">
		<br>
		</li>

		<li>
			<label for="title">Title: </label>
			<input size="50" type="text" name="title" id="title">
			<br>
		</li>

		<li>
			<label for="tags">Tags: <span style="font-size: 12px">(`*` is separator)</span></label>
			<input size="50" type="text" name="tags" id="tags">
			<br>
		</li>

		<li>
		<label for="showcase">Showcase?</label>
		<input type="checkbox" name="showcase" id="showcase">
		<br>
		</li>

		<li>
		<label for="journal">Journal?</label>
		<input type="checkbox" name="journal" id="journal">
		</ul>
		</li>

		<br>
		<hr>
		<textarea name="content" rows="10" cols="70" style="font-family: 'Product Sans' !important;"></textarea>
		<hr>

	</form>
	<button type="submit" form="form1" value="post">Post</button>
</body>
</html>