<!DOCTYPE html>
<html>
<head>
	<title>Solanki</title>
	<style>
		html{
			font-family: 'Product Sans';
		}
	</style>
</head>
<body>
	<h2>Post type: {{ value }}</h2>
	<div>
		<ul>
			<li><a href="/edit/{{ value }}/{{ filename }}">Edit this post</a></li>
			{% if value == "drafts" %}
				<li><a href="/migration/{{ value }}/{{ filename }}">Migrate draft to published post</a></li>
			{% else %}
				<li><a href="/migration/{{ value }}/{{ filename }}">Migrate post to drafts</a></li>
			{% endif %}
			<li><a href="/delete/{{ value }}/{{ filename }}">Delete this post</a></li>
		</ul>
	</div>
	<div style="white-space:pre-wrap;">
		<p>
			{{ data }}
		</p>
	</div>
</body>
<hr>
<footer>
	Designed by: Solanki
</footer>
</html>